services:
 back:
  image: back
  environment:
   - REQUEST_ORIGIN=http://localhost
   - REDIS_HOST=redis
   - POSTGRES_HOST=postgres
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=postgres
   - POSTGRES_DATABASE=postgres
  restart: 
   unless-stopped

 front:
  image: front
  environment:
   - REACT_APP_BACKEND_URL=http://localhost/api
  
 postgres:
   image: postgres:17
   restart: unless-stopped
   environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=postgres
   volumes:
    - ./database:/var/lib/postgresql/data   

 redis:
  image: redis

 nginx:
  image: nginx:latest
  ports:
    - "80:80"
  depends_on:
    - front
    - back
  volumes:
    - ./nginx.conf:/etc/nginx/nginx.conf:ro
