services:
 back:
  image: back
  ports: 
   - 8080:8080
  environment:
   - REQUEST_ORIGIN=http://localhost:5000
   - REDIS_HOST=redis
   - POSTGRES_HOST=postgres
   - POSTGRES_USER=postgres
   - POSTGRES_PASSWORD=postgres
   - POSTGRES_DATABASE=postgres
  restart: 
   unless-stopped

 front:
  image: front
  ports:
   - 5000:5000
  environment:
   - REACT_APP_BACKEND_URL=http://localhost:8080
  
 postgres:
   image: postgres:17
   restart: unless-stopped
   environment:
    - POSTGRES_USER=postgres
    - POSTGRES_PASSWORD=postgres
    - POSTGRES_DB=postgres
   volumes:
    - ./database:/var/lib/postgresql/data   

 redis:
  image: redis


